.header1 {font-size:2em;}
.header2 {font-size:1.6em;}
.header3 {font-size:1.3em; font-weight: bold;}
.header4 {font-size:1.1em; font-weight: bold;}
body { background: #d8d8d8;}
#container {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
#top, #content{
    position: absolute
}
#top {
    top: 0;
    left:0;
    width: 100%;
    height: 80px;
    background: #808080
}
#content {
    top: 80px;
    bottom: 0px;
    background: #d8d8d8r
}
